[user]
	name = Aisha Baerde
	email = abaerde@unomaha.edu
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = simple